* {
	text-align: center;

	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
	display: none;
}

.rNmBgrnd {
	background: url(./assets/img/rnmbgd.svg) no-repeat center top;
}

.topMenuTriggerButton {
	display: block;
	width: 100%;
}
